body {
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#ids-list {
  text-align: center;
  width: 350px;
  margin: 0 auto;
}

.id-card {
  display: flex;
  border: 1px solid black;
  width: 350px;
  margin-bottom: 10px;
}

.id-card img {
  width: 120px;
  height: 120px;
  padding: 10px;
}

.id-content {
  margin: auto 0;
}

.id-card p {
  margin: 0;
  padding: 2px 10px;
  text-align: left;
}

.flag-icons button {
  font-size: 1.5em;
  border: 2px solid white;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.flag-icons button:hover {
  border: 2px solid grey;
  cursor: pointer;
}

#name-input {
  margin: 20px;
  font-size: 1.2em;
  color: grey;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.greeting-text {
  font-size: 1.5em;
}

.number-inputs input {
  margin: 10px;
  width: 50px;
  color: grey;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.color-input input {
  margin: 5px;
  width: 50px;
  color: grey;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.color-box {
  margin: 20px auto;
  text-align: center;
  width: 250px;
  border: 1px solid white;
  border-radius: 10px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.credit-card {
  width: 350px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
}

.credit-card img {
  width: 50px;
  padding: 10px;
  margin: 10px 0 0 250px;
}

.card-number {
  font-size: 1.5em;
  padding: 20px;
}

.credit-card p {
  margin: 5px 0 0 20px;
}

.card-details {
  display: flex;
}

.card-details p {
  padding-right: 10px;
  text-align: left;
}

.card-owner {
  text-align: left;
  padding-bottom: 20px;
}

#rating-value {
  margin: 5px;
  width: 50px;
  color: grey;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.stars {
  font-size: 2em;
  margin: 20px 0;
}

.driver-card {
  width: 500px;
  background-color: #425cbb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px auto;
}

.driver-card img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 20px;
}

.driver-details {
  color: white;
  text-align: left;
  margin: 20px;
}

.driver-details h2,
div,
p {
  margin: 0;
}

#like-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

#maxence-image {
  width: 200px;
  height: 200px;
  margin: 20px;
}

#dice-image {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.images-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.images-carousel button {
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

.number-limit {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-limit label,
input {
  margin: 5px;
}

.number-limit input {
  color: grey;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
}

.squares-flex {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}

.number-square {
  width: 50px;
  height: 50px;
  margin: 1px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.number-square p {
  margin: revert;
}

.number-square.even {
  background-color: red;
  color: white;
}

.country-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 50px;
}

.country-buttons button {
  padding: 10px 20px;
  margin: 5px 10px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

.data-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 30px;
}

.contact-card {
  width: 400px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.contact-card img {
  margin: 20px;
  cursor: pointer;
}

.contact-details {
  width: 260px;
  margin: 20px;
  text-align: left;
}

.sortButton {
  padding: 10px 20px;
  margin: 5px 10px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: lightseagreen;
}

#facebook-search-input {
  margin: 20px;
  width: 200px;
  color: grey;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2em;
}

.sign-up-page {
  margin: 30px;
}

.sign-up-page p {
  font-size: 1.2em;
  line-height: 2;
}

#email-input,
#password-input,
#nationality-input {
  margin: 20px auto 5px auto;
  width: 400px;
  color: grey;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2em;
}

.valid-feedback,
.invalid-feedback {
  margin: 5px auto;
  text-align: left;
}

#sign-up-button {
  margin: 20px;
}

.rgb-color {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.rgb-color p {
  width: 90px;
  margin: 0;
  text-align: left;
  text-indent: 10px;
}

.rgb-color input {
  width: 60px;
}

.rgb-color-final {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.rgb-color-final p {
  width: 150px;
  margin: 0;
  text-align: left;
  text-indent: 10px;
}
